body {
  font-family: sans-serif;
  background: #f0f0f0;
  color: #333;
}
nav ul {
  display: flex;
  gap: 2rem;
}
.box{
  margin:10px;
  padding:10px;
  box-shadow: 0px 0px 10px black;
  border-color: black;
}